

.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{ 
    background-color: #FCEAE8;
    border-radius: 10px;
}
.site-buttton{
    background-color: #FF247A;
    border: 0;
    color: #fff;
    border-radius: 8px;
    padding:9px 25px;
}
.panda-subscribe{
    background-color: #FCEAE8;
    height: 300px;
}